body {
  background-color: thistle;
}
.completed {
  text-decoration: line-through;
}
.tasklist {
  background-color: pink;
  min-width: 38vw;
  min-height: 45vh;
}
.todobox {
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20vh;
  margin-left: 30vw;
  border-radius: 3%;
  max-width: 40vw;
  min-height: 60vh;
  box-shadow: 5px 8px #888888;
}
.todobox input {
  margin-top: 10px;
}
.todobox button {
  margin: 5px;
}
.task {
  display: flex;
}
.task button {
  align-items: flex-end;
}
.todo {
  display: flex;
  min-width: 20vw;
  background-color: rgb(251, 205, 212);
  margin: 2px;
  padding: 0;
  max-height: 50px;
}
